


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Blog</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create_post' %}">Create Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create_tag' %}">Create Tag</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create_user' %}">Create User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create_user_profile' %}"
          >Create User Profile</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'list_posts' %}">List Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'list_tags' %}">List Tags</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'list_users' %}">List Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'list_user_profiles' %}"
          >List User Profiles</a
        >
      </li>
    </ul>
  </nav>
</nav>
